@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 14px;
    font-family: Plus Jakarta Sans, sans-serif;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(rgb(63, 63, 63));
    border-radius: 5rem;
}

/* Animations for main hud */

@keyframes moveStripes {
    0% { background-position: 0 0; }
    100% { background-position: 20px 0; }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-2px); }
    20%, 40%, 60%, 80% { transform: translateX(2px); }
}

.stripe-container {
    overflow: hidden;
}

.animated-stripes-orange {
    background-image: linear-gradient(
        -45deg,
        #e67e22 25%,
        transparent 25%,
        transparent 50%,
        #e67e22 50%,
        #e67e22 75%,
        transparent 75%,
        transparent 100%
    );
    background-size: 10px 10px;
    animation: moveStripes 0.5s linear infinite;
}

.animated-stripes-white {
    background-image: linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0.25) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 75%,
        transparent 75%,
        transparent 100%
    );
    background-size: 10px 10px;
    animation: moveStripes 0.5s linear infinite;
}

.animated-stripes-green {
    background-image: linear-gradient(
        -45deg,
        #22c55e 25%,
        transparent 25%,
        transparent 50%,
        #22c55e 50%,
        #22c55e 75%,
        transparent 75%,
        transparent 100%
    );
    background-size: 10px 10px;
    animation: moveStripes 0.5s linear infinite;
}

.animated-stripes-white-health {
    background-image: linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0.25) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 75%,
        transparent 75%,
        transparent 100%
    );
    background-size: 10px 10px;
    animation: moveStripes 0.5s linear infinite;
}

.shake {
    animation: shake 0.3s ease-in-out;
}

/* Animations for second hud */

@keyframes syncBounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-6px);
    }
}

@keyframes syncPulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
}

.warning-bounce {
    animation: syncBounce 1s ease-in-out infinite;
}

.warning-pulse {
    animation: syncPulse 1s ease-in-out infinite;
}